.container-cart {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.addToCartButton {
  background-color: rgb(187, 87, 87);
  height: 50px;
  width: 100px;
  border-radius: 10px;
  border: none;
}

.cart-container {
  position: relative;
  display: inline-block;
}

.cart {
  font-size: 52px;
  position: relative;
}

.cart-counter {
  position: absolute;
  top: -5px;
  right: -9px;
  background-color: red;
  color: white;
  border-radius: 50px;
  font-size: 15px;
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
}

.removeToButton{
  background-color: blueviolet;
  height: 30px;
  width: 100px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}